/* noto-sans-regular - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-sans-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-v12-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

h1 {
    font-size: 14px;
    font-weight: bold;
}

p {
    margin-top: 0.2rem;
    font-size: 12px;
    display: block;
}

.admin-links {
    width: 100%;
    text-align: right;
    font-size: 12px;
    padding: 2px 5px;
}

.admin-links .admin-link {
    padding-left: 5px;
}

.center-content {
    width: 250px;
    margin: 20% auto auto auto;
    text-align: center;
}

.center-content img {
    margin-bottom: 0.5rem;
}

.center-content .url-form {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.center-content input {
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-right: 0.2rem;
    padding: 5px;
    font-size: 12px;
    flex: 1;
}

.center-content button {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid white;
    font-size: 12px;
}

.center-content .btn-blue {
    background-color: #456EF9;
    border: 1px solid #2d53d1;
    color: white;
}

.center-content .btn-blue:hover {
    background-color: #2d53d1;
}

.center-content .btn-green {
    background-color: #4fca4f;
    border: 1px solid #409b40;
    color: white;
}

.center-content .btn-green:hover {
    background-color: #409b40;
}

.center-content .error-text {
    margin-top: 1rem;
    color: red;
}

.center-content .more-info {
    font-size: 12px;
    text-align: left;
    margin-top: 0.2rem;
}

.center-content .info-text {
    font-size: 12px;
    text-align: left;
    margin-top: 1rem;
}